<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DBMS Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/homeStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300&family=Ysabeau+SC:wght@500&display=swap"
        rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">DBMSProject</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" id="home" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hospitals">Hospitals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/beds">Beds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cost">Cost</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vacate">Vacate</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <table class="table table-grey table-striped">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">HID</th>
                    <th scope="col">Hospital Name</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                {% for hospital in hospitals %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{hospital.hid}}</td>
                    <td>{{hospital.hname}}</td>
                    <td>{{hospital.haddress}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="container">
        <form action="/beds" method="POST">
            <div class="mb-3">
                <label for="uid" class="form-label">Enter Hospital ID</label>
                <input type="text" class="form-control" name="hid" value="{{session['id']}}" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="hid" class="form-label">Enter Hospital Name</label>
                <input type="text" class="form-control" name="hname" value="{{session['hname']}}" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>